<div class="mb-3">
  <label class="form-label">Tên bài giảng</label>
  <input type="text" name="title" class="form-control" required>
</div>

<div class="mb-3">
  <label class="form-label">Tải lên video</label>
  <input type="file" name="video" class="form-control" accept="video/*">
</div>
